In [4]:
import numpy as np
import pandas as pd
from glob import glob

In [5]:
model_name = 'llama_7B'
dataset_name = 'tqa_mc2'
collect = [
    # 'stimulus_mean',
    # 'stimulus_ans_mean',
    # 'stimulus_6',
    # 'cutrandom',
    # 'cut05',
    # 'all_mean',
    # 'all_ans_mean',
    # 'all_100_mean',
    # 'all_100_pca',
    'all_100_pure',
    # 'all_100_pca_alpha13',
    # 'all_100_pca_alpha17',
    # 'all_100_pca_alpha15_n2',
    # 'all_100_pca_alpha15_n3',
    # 'all_100_pca_alpha15_n5',
    # 'all_100_pca_mean_alpha15',
    # 'all_100_pca_alpha15_n2',
    # 'all_100_pca_alpha15_n2_v2',
    # 'all_100_pca_alpha15_n5',
    # 'all_100_pca_alpha15_n3',
    'all_100_wp_probe_alpha15',
    'all_100_w_probe_01_alpha15',
    'all_100_w_probe_alpha15',
    'all_100_w_probe_v2_alpha15',
    # 'all_075',
    # 'all_050',
    # 'all_025',
]

In [6]:
BLEURT_acc_list = []
MC1_list = []
MC2_list = []
bleu_acc_list = []
rouge1_acc_list = []
CE_Loss_list = []
KL_wrt_Orig_list = []
pre_path = f'/data/jxf/honest_llm/validation/{model_name}_{dataset_name}'
for clt in collect:
    
    fold1_res = pd.read_csv(glob(f'{pre_path}_{clt}/summary_{model_name}_seed_42*_fold_0.csv')[0])
    fold2_res = pd.read_csv(glob(f'{pre_path}_{clt}/summary_{model_name}_seed_42*_fold_1.csv')[0])
    MC1_list.append((fold1_res['MC1'][0] + fold2_res['MC1'][0]) / 2)
    MC2_list.append((fold1_res['MC2'][0] + fold2_res['MC2'][0]) / 2)
    BLEURT_acc_list.append((fold1_res['BLEURT acc'][0] + fold2_res['BLEURT acc'][0]) / 2)
    bleu_acc_list.append((fold1_res['bleu acc'][0] + fold2_res['bleu acc'][0]) / 2)
    rouge1_acc_list.append((fold1_res['rouge1 acc'][0] + fold2_res['rouge1 acc'][0]) / 2)
    CE_Loss_list.append((fold1_res['CE Loss'][0] + fold2_res['CE Loss'][0]) / 2)
    KL_wrt_Orig_list.append((fold1_res['KL wrt Orig'][0] + fold2_res['KL wrt Orig'][0]) / 2)

In [7]:
df = pd.DataFrame({
        'collect':collect, 
        'MC1':MC1_list, 
        'MC2':MC2_list,
        'BLEURT acc': BLEURT_acc_list,
        'bleu acc':bleu_acc_list,
        'rouge1 acc':rouge1_acc_list,
        'CE Loss':CE_Loss_list,
        'KL wrt Orig':KL_wrt_Orig_list
    })
df

,collect,MC1,MC2,BLEURT acc,bleu acc,rouge1 acc,CE Loss,KL wrt Orig
0,all_100_pure,0.253374,0.401760,0.326828,0.315829,0.298684,2.133391,0.000000
1,all_100_wp_probe_alpha15,0.282744,0.440251,0.369744,0.336677,0.344042,NaN,NaN
2,all_100_w_probe_01_alpha15,0.272955,0.430827,0.340309,0.342784,0.331757,2.194639,0.072487
3,all_100_w_probe_alpha15,0.288868,0.442229,0.362356,0.326873,0.328099,2.361592,0.257003
4,all_100_w_probe_v2_alpha15,0.280311,0.437135,0.362356,0.326873,0.328099,2.365405,0.273604