In [1]:
import numpy as np
import pandas as pd

In [2]:
model_name = 'llama_7B'
dataset_name = 'tqa_mc2'
collect = [
    'stimulus_mean',
    'stimulus_ans_mean',
    'stimulus_6',
    'cutrandom',
    'cut05',
    'all_mean',
    'all_ans_mean',
    'all_100',
    'all_075',
    'all_050',
    'all_025',
]

In [3]:
BLEURT_acc_list = []
MC1_list = []
MC2_list = []
bleu_acc_list = []
rouge1_acc_list = []
CE_Loss_list = []
KL_wrt_Orig_list = []
pre_path = f'/data/wtl/honest_llm/validation/{model_name}_{dataset_name}'
for clt in collect:
    fold1_res = pd.read_csv(f'{pre_path}_{clt}/summary_{model_name}_seed_42_top_48_heads_alpha_15_fold_0.csv')
    fold2_res = pd.read_csv(f'{pre_path}_{clt}/summary_{model_name}_seed_42_top_48_heads_alpha_15_fold_1.csv')
    MC1_list.append((fold1_res['MC1'][0] + fold2_res['MC1'][0]) / 2)
    MC2_list.append((fold1_res['MC2'][0] + fold2_res['MC2'][0]) / 2)
    BLEURT_acc_list.append((fold1_res['BLEURT acc'][0] + fold2_res['BLEURT acc'][0]) / 2)
    bleu_acc_list.append((fold1_res['bleu acc'][0] + fold2_res['bleu acc'][0]) / 2)
    rouge1_acc_list.append((fold1_res['rouge1 acc'][0] + fold2_res['rouge1 acc'][0]) / 2)
    CE_Loss_list.append((fold1_res['CE Loss'][0] + fold2_res['CE Loss'][0]) / 2)
    KL_wrt_Orig_list.append((fold1_res['KL wrt Orig'][0] + fold2_res['KL wrt Orig'][0]) / 2)

In [4]:
df = pd.DataFrame({
        'collect':collect, 
        'MC1':MC1_list, 
        'MC2':MC2_list,
        'BLEURT acc': BLEURT_acc_list,
        'bleu acc':bleu_acc_list,
        'rouge1 acc':rouge1_acc_list,
        'CE Loss':CE_Loss_list,
        'KL wrt Orig':KL_wrt_Orig_list
    })
df

,collect,MC1,MC2,BLEURT acc,bleu acc,rouge1 acc,CE Loss,KL wrt Orig
0,stimulus_mean,0.264394,0.419395,0.381859,0.357427,0.362305,2.146047,0.013631
1,stimulus_ans_mean,0.268062,0.426384,0.388019,0.359896,0.358670,2.167112,0.041722
2,stimulus_6,0.274174,0.427409,0.386749,0.352522,0.364735,2.172725,0.046400
3,cutrandom,0.277860,0.444153,0.690346,0.585104,0.647502,2.215400,0.094696
4,cut05,0.277851,0.438118,0.588652,0.504207,0.554386,2.204731,0.093511
5,all_mean,0.263181,0.419316,0.386820,0.350107,0.345208,2.154517,0.020449
6,all_ans_mean,0.275406,0.435786,0.432116,0.384375,0.390494,2.188608,0.073532
7,all_100,0.280320,0.426302,0.353846,0.313408,0.323212,2.357603,0.265373
8,all_075,0.294984,0.464479,0.517780,0.413727,0.467589,2.228018,0.112225
9,all_050,0.279085,0.446270,0.450543,0.378275,0.397901,2.212891,0.096438
10,all_025,0.259492,0.406613,0.335341,0.315784,0.314561,2.179163,0.051425