In [1]:
import numpy as np
import pandas as pd

In [4]:
model_name = 'llama_7B'
dataset_name = 'tqa_mc2'
collect = [
    # 'stimulus_mean',
    # 'stimulus_ans_mean',
    # 'stimulus_6',
    # 'cutrandom',
    # 'cut05',
    # 'all_mean',
    # 'all_ans_mean',
    'all_100',
    # 'all_075',
    # 'all_050',
    # 'all_025',
]

In [6]:
BLEURT_acc_list = []
MC1_list = []
MC2_list = []
bleu_acc_list = []
rouge1_acc_list = []
CE_Loss_list = []
KL_wrt_Orig_list = []
pre_path = f'/data/jxf/honest_llm/validation/{model_name}_{dataset_name}'
for clt in collect:
    fold1_res = pd.read_csv(f'{pre_path}_{clt}/summary_{model_name}_seed_42_top_48_heads_alpha_15_fold_0_com.csv')
    fold2_res = pd.read_csv(f'{pre_path}_{clt}/summary_{model_name}_seed_42_top_48_heads_alpha_15_fold_1_com.csv')
    MC1_list.append((fold1_res['MC1'][0] + fold2_res['MC1'][0]) / 2)
    MC2_list.append((fold1_res['MC2'][0] + fold2_res['MC2'][0]) / 2)
    BLEURT_acc_list.append((fold1_res['BLEURT acc'][0] + fold2_res['BLEURT acc'][0]) / 2)
    bleu_acc_list.append((fold1_res['bleu acc'][0] + fold2_res['bleu acc'][0]) / 2)
    rouge1_acc_list.append((fold1_res['rouge1 acc'][0] + fold2_res['rouge1 acc'][0]) / 2)
    CE_Loss_list.append((fold1_res['CE Loss'][0] + fold2_res['CE Loss'][0]) / 2)
    KL_wrt_Orig_list.append((fold1_res['KL wrt Orig'][0] + fold2_res['KL wrt Orig'][0]) / 2)

In [7]:
df = pd.DataFrame({
        'collect':collect, 
        'MC1':MC1_list, 
        'MC2':MC2_list,
        'BLEURT acc': BLEURT_acc_list,
        'bleu acc':bleu_acc_list,
        'rouge1 acc':rouge1_acc_list,
        'CE Loss':CE_Loss_list,
        'KL wrt Orig':KL_wrt_Orig_list
    })
df

,collect,MC1,MC2,BLEURT acc,bleu acc,rouge1 acc,CE Loss,KL wrt Orig
0,all_100,0.264403,0.479999,0.684057,0.271765,0.30856,5.725361,3.647395