In [1]:
import numpy as np
import pandas as pd

In [2]:
model_name = 'llama_7B'
dataset_name = 'tqa_mc2'
collect = [
    'stimulus_mean',
    'stimulus_ans_mean',
    'stimulus_6',
    'cutrandom',
    'cut05',
    'all_mean',
    'all_ans_mean',
    'all_100',
    'all_075',
    'all_050',
    'all_025'
]

In [3]:
def find_max(matrix):
    index_of_max = np.argmax(matrix)

    # 将索引转换为行号和列号
    row_of_max = index_of_max // matrix.shape[1]
    col_of_max = index_of_max % matrix.shape[1]

    return row_of_max, col_of_max, matrix[row_of_max, col_of_max]

In [4]:
mean_accs = []
max_accs = []
pre_path = f'/data/wtl/honest_llm/validation/{model_name}_{dataset_name}'
for clt in collect:
    fold1_acc = np.load(f'{pre_path}_{clt}/fold_0_{model_name}_{dataset_name}_{clt}_head_accs.npy')
    fold2_acc = np.load(f'{pre_path}_{clt}/fold_1_{model_name}_{dataset_name}_{clt}_head_accs.npy')
    mean_accs.append((fold1_acc.mean()) + (fold2_acc.mean()) / 2)
    max_accs.append((find_max(fold1_acc)[-1] + find_max(fold2_acc)[-1]) / 2)

In [5]:
df = pd.DataFrame({'collect':collect, 'mean_accs':mean_accs, 'max_accs':max_accs})
df

              collect  mean_accs  max_accs
0       stimulus_mean   0.872392  0.761116
1   stimulus_ans_mean   0.930075  0.788922
2          stimulus_6   0.942949  0.811599
3           cutrandom   0.861011  0.697513
4               cut05   0.872316  0.705145
5            all_mean   0.864552  0.725478
6        all_ans_mean   0.918303  0.775386
7             all_100   0.957658  0.809235
8             all_075   0.893877  0.739074
9             all_050   0.869653  0.695129
10            all_025   0.848280  0.660306